/*
      Shetty, Durgashree
      Acc No : jadrn061
      Project #3
      CS545 Fall 2017 */
	  
/** { margin: 0; padding: 0; }	 */ 	  

body
 {
   background-color:#FFF;
   font-family : serif,sans-serif,fantasy;
   margin: 0; 
   padding: 0;
 }
 
 h2 { 
   color:#DBA901;
    }
    
h3 { 
     color:#DBA901;
     margin: 0; 
     padding: 0;
    }    
    
 h4 { 
    text-align: center;
    color:#DBA901;
    }   

#welcome_head
{
	/*min-height: 1px*/
	font-size: 30px;
	background-color:#8A0808;
	margin: 0; 
	padding: 0;
}

#welcome_head p
{ 
   color:#DBA901;
   background-color:#000000;
   font-size:150%;
   font-family : serif,sans-serif;
   margin: 0; 
   padding: 0;
   text-align:center;
}

#welcome_head img
{
	width : 120px ;
	height : auto ;
}

#welcome_banner
{
	min-height: 1px;
	font-size: 40px;
	background-color:#8A0808;
	margin: 0; 
	padding: 0;
}

#welcome_banner p
{ 
   color:#DBA901;
   background-color:#000000;
   font-size:150%;
   font-family : serif,sans-serif;
   margin: 0; 
   padding: 0;
   text-align:center;
}

#welcome_banner img
{
	width : 100px ;
	height : auto ;
}

#welcome_banner a {
   color: #DBA901;
   float:left;
   font-size:30%;
}

#content_img p{
	text-align: center ;
    background-color:white;
	margin: 0; 
	padding: 0;
}

#content_img img{
	width : 700px ;
	height : auto ;
	margin: 0 25px;
    border: 5px solid white;
	margin: 0; 
	padding: 0;
}

#content {
   color:#8A0808;
  /* background-color:#8A0808;*/
   text-align: center ;  
   font-style: italic;
   margin: 0; 
   padding: 0;
}

#content p{
	margin: 0; 
   padding: 0;
}


#content a {
    color: #DBA901;
    background-color: #8A0808;    
    text-decoration: none;
    font-weight: bold; 
    padding: 10px 20px 10px 20px;   
    text-align: center;	
    }  
	
#content a:hover {
    background-color:#B40404;
    color: #FFBF00;
    }

.boldName
{
	font-weight : bold ;
	font-size:110%;
}

.textSize{
	font-size:50%;
}

.backlink{
	font-size:30%;
	color: #DBA901;
}

fieldset {
    width: 800px;
    margin: 1px auto 0 auto;
	color : #B40404;
	border: 2px solid #DBA901;
	background-color:#FAFAFA; 
    }
	
.imgbox img{
	border: 2px solid #DBA901;
	width : 100px;
	height : auto;
	margin-bottom :2px;
}

.imgbox p{
	text-align:center;
}

input[type=file] {
    background: #8A0808;
    color: #DBA901;
	font-size: 75%;
    border: 1px solid #DBA901;
}
		
td
{
	color: #B40404;	
}

input[type=text] {
    border: 2px solid #DBA901;
    border-radius: 4px;
	margin-bottom:4px;
	color:#8A0808;
}

textarea{
	border: 2px solid #DBA901;
        border-radius: 4px;
	margin-bottom:4px;
	color:#8A0808;
}

input[type=reset]{
	color: #DBA901;
    background-color: #8A0808;
	font-size:100%;
	border: 2px solid #DBA901;
	margin: 8px 10px;
}

input[type=submit]{
	color: #DBA901;
    background-color: #8A0808;
	font-size:100%;
	border: 2px solid #DBA901;
	
}
    
.buttons {
    text-align: center; 
    text-decoration: none;
    font-weight: bold; 
    
    }
	
input[type=text]:focus	{
    border:  2px solid #B18904;   
    background-color: #F7F2E0;  
    }
	 
	
#message_line {
    height: 10px;
    color: red;
    font-family: sans-serif;
    font-style: italic;
	font-weight:bold;
	margin-top:20px;
	margin-bottom: 10px;
    } 
#loadingmessage img{
display : none;
width : 50px;
}

#loadingmessage p{
text-align:center;
}
